myenv/
__pycache__/
*.pyc
*.pyo
*.pyd

instance/

# npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env

dist/
build/
*.egg-info/

app/static/css/styles.css

tests/
setup_files/xampp-windows-x64-8.0.30-0-VS16-installer.exe

.env

.vscode/