{% extends 'dashboard/admin/layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block header_title %}Data Analysis{% endblock %}

{% block content %}
    
<div class="">
    <!-- Statistics Section -->
    <div class="flex flex-wrap -mx-2 mb-8">
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Total Users</h2>
                <p class="text-3xl font-bold">{{ total_users }}</p>
            </div>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Total Vehicles</h2>
                <p class="text-3xl font-bold">{{ total_vehicles }}</p>
            </div>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Average Vehicles Per User</h2>
                <p class="text-3xl font-bold">{{ avg_vehicles_per_user }}</p>
            </div>
        </div>
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Users with No Vehicles</h2>
                <p class="text-3xl font-bold">{{ users_with_no_vehicles }}</p>
            </div>
        </div>
    
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Total Number of RFID Tags</h2>
                <p class="text-3xl font-bold">{{ total_rfid_tags }}</p>
            </div>
        </div>
        
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Total Registered RFID Tags</h2>
                <p class="text-3xl font-bold">{{ registered_rfid_count }}</p>
            </div>
        </div>
        
    
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Recent User Registrations</h2>
                <p class="text-3xl font-bold">{{ recent_user_registrations }}</p>
            </div>
        </div>
    
        <div class="w-full md:w-1/4 px-2 mb-4">
            <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-md border border-black h-full flex flex-col justify-between">
                <h2 class="text-lg font-semibold mb-2">Most Common Vehicle Model</h2>
                <p class="text-3xl font-bold">{{ most_common_vehicle_model }}</p>
            </div>
        </div>
    </div>
    

    <div class="mt-8">
        <div class="flex flex-wrap -mx-2 mb-8">
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">Time-In and Time-Out Comparison</h3>
                    <canvas id="timeInOutChart" class="w-full h-64"></canvas>
                    <div id="timeInOutData"
                         data-labels="{{ time_in_time_out_data['labels']|join(', ') }}"
                         data-timein="{{ time_in_time_out_data['timein']|join(', ') }}"
                         data-timeout="{{ time_in_time_out_data['timeout']|join(', ') }}">
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">Weekly Vehicle Distribution</h3>
                    <canvas id="vehicleChart" class="w-full h-64"></canvas>
                    <div id="vehicleData"
                         data-labels="{{ daily_data['labels']|join(', ') }}"
                         data-data="{{ daily_data['data']|join(', ') }}">
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">Peak Hours of Vehicle Entries</h3>
                    <canvas id="peakHoursChart" class="w-full h-64"></canvas>
                    <div id="peakHoursData"
                         data-labels="{{ peak_hours_data['labels']|join(', ') }}"
                         data-data="{{ peak_hours_data['data']|join(', ') }}">
                    </div>
                </div>
            </div>                
        </div>
    
        <div class="flex flex-wrap -mx-2 mb-8">
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">Duration of Stay</h3>
                    <canvas id="durationHistogram" class="w-full h-64"></canvas>
                    <div id="stayDurationData"
                         data-labels="{{ vehicle_stay_durations_data['labels']|join(', ') }}"
                         data-duration="{{ vehicle_stay_durations_data['duration']|join(', ') }}">
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">User Registration by Week</h3>
                    <canvas id="userregistration" class="w-full h-64"></canvas>
                    <div id="userRegistrationData"
                         data-labels="{{ user_registration_data['labels']|join(', ') }}"
                         data-data="{{ user_registration_data['data']|join(', ') }}">
                    </div>
                </div>
            </div>
            <!-- <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                <div style="background-color: #eeeee4; font-size: 1.25rem;" class="p-6 rounded-lg shadow-lg h-full border border-black">
                    <h3 class="text-xl font-semibold mb-2">Most Active Days of the Week</h3>
                    <canvas id="mostActiveDaysChart" class="w-full h-64"></canvas>
                    <div id="mostActiveDaysData"
                         data-labels="{{ most_active_days_data['labels']|join(', ') }}"
                         data-data="{{ most_active_days_data['data'] }}">
                    </div>
                </div>
            </div>                                                          -->
        </div>
    </div>
    
    

</div>

<script src="{{ url_for('static', filename='js/timeinout-comparison.js') }}"></script>
<script src="{{ url_for('static', filename='js/vehicleChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/durationofstay.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_registered_weekly.js') }}"></script>
<script src="{{ url_for('static', filename='js/mostactivedays.js') }}"></script>
<script src="{{ url_for('static', filename='js/peakhours.js') }}"></script>

<script src="{{ url_for('static', filename='js/library/chart.min.js') }}"></script>


{% endblock %}
