{% extends 'dashboard/admin/layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block header_title %}Data Analysis{% endblock %}

{% block content %}
    
    <div class="">
        <!-- Statistics Section -->
        <div class="flex flex-wrap -mx-2 mb-8">
            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-teal-600 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Total Users</h2>
                    <p class="text-3xl font-bold">{{ total_users }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-teal-600 p-6 rounded-lg shadow-md text-gray-800 border border-gray-300">
                    <h2 class="text-lg font-semibold mb-2">Total Vehicles</h2>
                    <p class="text-3xl font-bold">{{ total_vehicles }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-blue-600 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Average Vehicles Per User</h2>
                    <p class="text-3xl font-bold">{{ avg_vehicles_per_user }}</p>
                </div>
            </div>
            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-purple-600 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Users with No Vehicles</h2>
                    <p class="text-3xl font-bold">{{ users_with_no_vehicles }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-teal-600 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Total Number of RFID Tags</h2>
                    <p class="text-3xl font-bold">{{ total_rfid_tags }}</p>
                </div>
            </div>
            
            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-teal-700 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Active RFID Tags</h2>
                    <p class="text-3xl font-bold">{{ active_rfid_count }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-teal-700 p-6 rounded-lg shadow-md text-gray-800 border border-gray-300">
                    <h2 class="text-lg font-semibold mb-2">Recent User Registrations</h2>
                    <p class="text-3xl font-bold">{{ recent_user_registrations }}</p>
                </div>
            </div>

            <div class="w-full md:w-1/4 px-2 mb-4">
                <div class="bg-blue-600 p-6 rounded-lg shadow-md text-white">
                    <h2 class="text-lg font-semibold mb-2">Most Common Vehicle Model</h2>
                    <p class="text-3xl font-bold">{{ most_common_vehicle_model }}</p>
                </div>
            </div>
        </div>

        <div class="mt-8">
            <div class="flex flex-wrap -mx-2 mb-8">

                <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                    <div class="bg-white p-6 rounded-lg shadow shadow-gray-500 h-full">
                        <h3 class="text-xl font-semibold mb-2">Time-In and Time-Out Comparison</h3>
                        <p class="mb-4 text-gray-800 opacity-40">This chart compares the number of time-ins and time-outs recorded each day over the past week. It helps visualize trends and patterns in vehicle check-ins and check-outs.</p>
                        <canvas id="timeInOutChart"></canvas>
                        <div id="timeInOutData"
                             data-labels="{{ time_in_time_out_data['labels']|join(', ') }}"
                             data-timein="{{ time_in_time_out_data['timein']|join(', ') }}"
                             data-timeout="{{ time_in_time_out_data['timeout']|join(', ') }}">
                        </div>
                    </div>
                </div>
                
                <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                    <div class="bg-white p-6 rounded-lg shadow shadow-gray-500 h-full">
                        <h3 class="text-xl font-semibold mb-2">Weekly Vehicle Distribution</h3>
                        <p class="mb-4 text-gray-800 opacity-40">This chart displays the number of vehicles registered each day within the last 7 days. It helps track daily registration trends and identify patterns over the past week.</p>
                        <canvas id="vehicleChart"></canvas>
                        <div id="vehicleData"
                             data-labels="{{ daily_data['labels']|join(', ') }}"
                             data-data="{{ daily_data['data']|join(', ') }}">
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="flex flex-wrap -mx-2 mb-8">

                <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                    <div class="bg-white p-6 rounded-lg shadow shadow-gray-500">
                        <h3 class="text-xl font-semibold mb-2">Duration of Stay</h3>
                        <p class="mb-4 text-gray-800 opacity-40">This chart illustrates the duration of vehicle stays over the past week, helping to analyze the average time vehicles remain parked.</p>
                        <canvas id="durationHistogram"></canvas>
                        <div id="stayDurationData"
                             data-labels="{{ vehicle_stay_durations_data['labels']|join(', ') }}"
                             data-duration="{{ vehicle_stay_durations_data['duration']|join(', ') }}">
                        </div>
                    </div>
                </div>
                
                <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                    <div class="bg-white p-6 rounded-lg shadow shadow-gray-500">
                        <h3 class="text-xl font-semibold mb-2">User Registration by Week</h3>
                        <p class="mb-4 text-gray-800 opacity-40">This chart shows the number of new users registered each week, helping to understand the growth or decline in user sign-ups over time.</p>
                        <canvas id="userregistration"></canvas>
                        <div id="userRegistrationData"
                             data-labels="{{ user_registration_data['labels']|join(', ') }}"
                             data-data="{{ user_registration_data['data']|join(', ') }}">
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/3 px-2">
                    <div class="bg-white p-6 rounded-lg shadow shadow-gray-500">
                        <h3 class="text-xl font-semibold mb-2">Daily Vehicle Entries</h3>
                        <p class="mb-4 text-gray-800 opacity-40">This chart shows the number of vehicles that entered the area each hour, helping to identify peak entry hours throughout the day.</p>
                        <canvas id="dailyVehicleEntriesChart"></canvas>
                        <div id="dailyVehicleEntriesData"
                             data-labels="{{ daily_vehicle_entries_data['labels']|join(', ') }}"
                             data-data="{{ daily_vehicle_entries_data['data']|join(', ') }}">
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

<script src="{{ url_for('static', filename='js/timeinout-comparison.js') }}"></script>
<script src="{{ url_for('static', filename='js/vehicleChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/durationofstay.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_registered_weekly.js') }}"></script>
<script src="{{ url_for('static', filename='js/dailyvehicleentry.js') }}"></script>

<script src="{{ url_for('static', filename='js/library/chart.min.js') }}"></script>


{% endblock %}
