{% extends 'dashboard/admin/layout.html' %}

{% block title %}Time Logs | TimeGuard {% endblock %}

{% block header_title %}Time In/Out{% endblock %}

{% block content %}
<div class="w-full h-full p-6">

    <h1 id="date" class="flex text-4xl justify-center font-bold mb-4">Date Placeholder</h1>
    <h1 id="time" class="flex text-4xl justify-center font-bold mb-4">Time Placeholder</h1>

    <form action="{{ url_for('timeinout.handle_rfid') }}" method="POST" class="flex flex-col items-start space-y-4 mb-4" autocomplete="off">
        {{ form.hidden_tag() }}

        <label for="rfid_no" class="text-lg font-bold">RFID Scanner:</label>
        <input type="text" name="rfid_no" id="rfid-input" class="border border-gray-300 rounded-lg p-4 text-lg w-full" placeholder="RFID Number" style="opacity: 0; position: absolute; left: -9999px;">

        <button 
            type="button" 
            id="scan_button"
            class="bg-green-500 text-white font-semibold py-4 px-8 rounded-lg text-lg hover:bg-green-600"
            onclick="toggleScanning()"
        >
            Start Scanning
        </button>

        <p id="scanned_display" class="mt-2 text-lg font-semibold"><span id="rfid_number"></span></p> 
    </form>

    <!-- Time In/Out Table -->
    <div class="bg-[#eeeee4] p-6 rounded-lg shadow-md w-full max-w-full mb-8 relative">
        <!-- <h2 class="text-xl font-bold mb-4">Time In/Out Table</h2> -->
        <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-[#eeeee4]">
                <tr>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Date</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Time In</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Time Out</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Employee ID</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Name</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Phone Number</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Vehicles</th>
                    <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">License Plates</th>
                </tr>
            </thead>
            <tbody class="bg-[#eeeee4] divide-y divide-gray-300">
                {% for record in records %}
                    <tr>
                        <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-black">{{ record.date }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ record.time_in }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">
                            {{ record.time_out if record.time_out else "Pending" }}
                        </td>                        
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ record.employee_id }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black flex items-center">
                            {% if record.profile_image %}
                                <img src="{{ url_for('static', filename='images/users/' + record.profile_image) }}" alt="Profile Image" class="w-[50px] h-[50px] rounded-full mr-4">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/users/profile.svg') }}" alt="Default Profile Image" class="w-[50px] h-[50px] rounded-full mr-4">
                            {% endif %}
                            {{ record.name }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ record.phone_number }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ record.vehicles }}</td>
                        <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ record.license_plates }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
        <!-- Pagination -->
        <div class="flex justify-center mt-4">
            <nav class="relative z-0 inline-flex shadow-sm -space-x-px" aria-label="Pagination">
                {% if page > 1 %}
                    <a href="{{ url_for('timeinout.timeinout', page=page-1) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-lg font-medium text-black bg-white hover:bg-gray-50">
                        Previous
                    </a>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                    <a href="{{ url_for('timeinout.timeinout', page=p) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-lg font-medium {{ 'bg-gray-200' if p == page else 'bg-white' }} hover:bg-gray-50">
                        {{ p }}
                    </a>
                {% endfor %}
                {% if page < total_pages %}
                    <a href="{{ url_for('timeinout.timeinout', page=page+1) }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-lg font-medium text-black bg-white hover:bg-gray-50">
                        Next
                    </a>
                {% endif %}
            </nav>
        </div>
    </div>

</div>

<script src="{{ url_for('static', filename='js/rfid_scanner.js') }}"></script>
{% endblock %}
