<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{% block title %}User Dashboard{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='css/auth-login-register.css') }}" rel="stylesheet"> -->

    <style>
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        .animate-spin {
            animation: spin 0.5s linear infinite; 
        }
    </style>
</head>
<body class="relative bg-cover bg-center min-h-screen" style="background-color: #eeeee4; color: black;">

    <!-- Background Overlay -->
    <div class="absolute inset-0 bg-black opacity-65"></div>

<!-- Main Layout Structure -->
<div class="relative min-h-screen bg-opacity-30 backdrop-blur-md flex flex-col">
    <!-- Header -->
    <header id="header" class="bg-blue-600 bg-opacity-100 p-6 flex items-center fixed top-0 left-64 w-full z-30 shadow-md bg-black/50 backdrop-blur-md transition-all duration-300" style="background-color: rgb(0, 0, 141);">
        <!-- Toggle Button for Desktop Sidebar -->
        <button id="sidebar-toggle" class="mr-4 focus:outline-none">
            <span class="iconify" data-icon="mdi:menu" data-inline="false" style="font-size: 2rem;"></span>
        </button>
        <!-- Logo and Title on the Left -->
        <div class="flex items-center space-x-3">
            <img src="{{ url_for('static', filename='Images/CelcorCircle.png') }}" alt="logo" class="h-12">
            <span class="font-bold text-xl text-off-white custom-shadow">{% block header_title %}Dashboard{% endblock %}</span>
        </div>
        <!-- Hamburger Menu for Mobile -->
        <div class="sm:hidden ml-auto">
            <button id="menu-toggle" class="focus:outline-none">
                <span class="iconify" data-icon="mdi:menu" data-inline="false" style="font-size: 2rem;"></span>
            </button>
        </div>
    </header>

    <!-- Mobile Sidebar -->
    <aside id="mobile-menu" class="bg-white text-gray-800 fixed inset-y-0 left-0 transform -translate-x-full transition-transform sm:hidden w-64 z-20 mt-20 backdrop-blur-md bg-white/30" style="background-color: #eeeee4; color: black;">
        <div class="p-6 flex flex-col items-center mb-4">
            <img src="{{ url_for('static', filename='Images/CelcorCircle.png') }}" alt="Logo" class="h-20 mb-2">
            <h1 class="text-xl font-bold mb-4 mt-4 text-center">VMS</h1>
        </div>
        <nav class="p-6 space-y-6">
            <a href="{{ url_for('user_dashboard.user_dashboard') }}" class="block py-3 rounded hover:bg-gray-100">Home</a>
            <a href="{{ url_for('vehicles.vehicles') }}" class="block py-3 rounded hover:bg-gray-100">Vehicles</a>
            <a href="#" class="block py-3 rounded hover:bg-gray-100">Survey</a>
            <button id="logout-button" class="block py-3 rounded hover:bg-gray-100">Logout</button>
        </nav>
    </aside>

    <!-- Desktop Sidebar -->
    <aside id="desktop-sidebar" class="w-64 bg-gray-800 bg-opacity-70 p-6 z-20 fixed top-0 left-0 h-full backdrop-blur-lg transition-transform duration-300" style="background-color: #eeeee4; color: black;">
        <div class="flex flex-col items-center mb-4">
            <img src="{{ url_for('static', filename='Images/CelcorCircle.png') }}" alt="Logo" class="h-20 mb-2">
            <h1 class="text-xl font-bold mb-4 mt-4 text-center">VMS</h1>
        </div>
        <nav class="space-y-4 flex flex-col justify-between h-full">
            <div class="space-y-4">
                <a href="{{ url_for('user_dashboard.user_dashboard') }}" class="block py-4 px-5 rounded hover:bg-gray-300">
                    <img src="{{ url_for('static', filename='images/icons/home.svg') }}" alt="Data Analytics" class="inline h-8 w-8 mr-2">Home
                </a>
                <a href="{{ url_for('vehicles.vehicles') }}" class="block py-4 px-5 rounded hover:bg-gray-300">
                    <img src="{{ url_for('static', filename='images/icons/vehicle.svg') }}" alt="Time In / Out" class="inline h-8 w-8 mr-2">Vehicle
                </a>
                <a href="#" class="block py-4 px-5 rounded hover:bg-gray-300">
                    <img src="{{ url_for('static', filename='images/icons/survey.svg') }}" alt="Registered Users" class="inline h-8 w-8 mr-2"> Survey
                </a>
                <button id="logout-button-desktop" class="block py-4 px-5 rounded hover:bg-gray-300 mt-6">
                    <img src="{{ url_for('static', filename='images/icons/logout.svg') }}" alt="Logout" class="inline h-8 w-8 mr-2">Logout
                </button>
            </div>
        </nav>
    </aside>

    <!-- Main Content Area -->
    <div id="main-content" class="flex flex-1 mt-20 sm:ml-64 bg-black/10 p-10 backdrop-blur-md flex-grow transition-all duration-300" style="background-color: #eeeee4; color: black;">
        <div id="flashMessages" class="fixed top-0 left-1/2 transform -translate-x-1/2 m-4 z-50 opacity-100 transition-opacity duration-300">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="space-y-4">
                        {% for category, message in messages %}
                            <div class="p-3 mb-4 rounded 
                                {% if category == 'danger' %}
                                    bg-red-500 bg-opacity-40 text-white
                                {% elif category == 'success' %}
                                    bg-green-500 bg-opacity-40 text-white
                                {% elif category == 'info' %}
                                    bg-blue-500 bg-opacity-40 text-white
                                {% else %}
                                    bg-gray-500 bg-opacity-40 text-white
                                {% endif %}
                                {{ 'hidden' if not messages else 'block' }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <div class="flex-1 flex flex-col justify-between items-center m-6 sm:m-8 md:m-10 lg:m-12">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Logout Confirmation Modal -->
    <div id="logout-modal" class="fixed inset-0 bg-gray-600 bg-opacity-50 z-40 hidden">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                <h2 class="text-lg font-semibold mb-4">Confirm Logout</h2>
                <p class="mb-4">Are you sure you want to logout?</p>
                <div class="flex justify-end space-x-4">
                    <form method="POST" action="{{ url_for('main.logout_view') }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                        <button type="submit" class="px-4 py-2 bg-red-600 text-white rounded-md hover:bg-red-700">Logout</button>
                    </form>
                    <button id="cancel-logout" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-md hover:bg-gray-300">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Loading Screen -->
    <div id="loading-screen" class="fixed inset-0 bg-transparent flex items-center justify-center z-50 hidden">
        <div class="flex items-center space-x-2">
            <div class="w-12 h-12 border-t-4 border-black border-solid rounded-full animate-spin"></div>
            <span class="text-black text-lg">Loading...</span>
        </div>
    </div>
</div>

<script>
    document.getElementById('sidebar-toggle').addEventListener('click', function() {
        const sidebar = document.getElementById('desktop-sidebar');
        const mainContent = document.getElementById('main-content');
        const header = document.getElementById('header');

        sidebar.classList.toggle('hidden');
        if (sidebar.classList.contains('hidden')) {
            sidebar.style.transform = 'translateX(-100%)'; // Animate sidebar out
            mainContent.classList.remove('sm:ml-64'); // Adjust padding when sidebar is hidden
            header.classList.remove('left-64'); // Adjust header when sidebar is hidden
        } else {
            sidebar.style.transform = 'translateX(0)'; // Animate sidebar in
            mainContent.classList.add('sm:ml-64'); // Restore padding when sidebar is visible
            header.classList.add('left-64'); // Adjust header when sidebar is visible
        }
    });
</script>





    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileMenu = document.getElementById('mobile-menu');

        menuToggle.addEventListener('click', function() {
            mobileMenu.classList.toggle('-translate-x-full');
        });

        const logoutButton = document.getElementById('logout-button');
        const logoutButtonDesktop = document.getElementById('logout-button-desktop');
        const logoutModal = document.getElementById('logout-modal');
        const cancelLogout = document.getElementById('cancel-logout');
        const loadingScreen = document.getElementById('loading-screen');

        function showLoading() {
            loadingScreen.classList.remove('hidden');
        }

        function hideLoading() {
            loadingScreen.classList.add('hidden');
        }

        document.querySelectorAll('aside nav a').forEach((element) => {
            element.addEventListener('click', function() {
                showLoading();
                setTimeout(() => { 
                    hideLoading();
                }, 1000);
            });
        });

        logoutButton.addEventListener('click', function() {
            logoutModal.classList.remove('hidden');
        });

        if (logoutButtonDesktop) {
            logoutButtonDesktop.addEventListener('click', function() {
                logoutModal.classList.remove('hidden');
            });
        }

        cancelLogout.addEventListener('click', function() {
            logoutModal.classList.add('hidden');
        });
    </script>

    <!-- Libraries -->
    <script src="{{ url_for('static', filename='js/library/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/heatmap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/leaflet-heat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library/iconify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
