{% extends 'dashboard/user/layout.html' %}

{% block title %} Dashboard | TimeGuard {% endblock %}

{% block content %}
<div class="w-full h-full p-4 space-y-4">
    <h1 class="text-2xl font-bold mb-4">Hello, {{ user_name }}!</h1>
    <p class="mb-2">Track your vehicle's entries and exits.</p>
    
    <div class="grid grid-cols-1 md:grid-cols-4 gap-0">
        <div class="bg-gray-100 text-base p-4 rounded-lg shadow-lg h-full border border-black" style="background-color: #eeeee4; color: black;">
            <h3 class="text-lg font-semibold mb-3">Time-In and Time-Out Comparison</h3>
            <canvas id="timeInOutChart" class="w-full h-48"></canvas>
            <div id="timeInOutData"
                data-labels="{{ time_in_time_out_data['labels']|join(', ') }}"
                data-timein="{{ time_in_time_out_data['timein']|join(', ') }}"
                data-timeout="{{ time_in_time_out_data['timeout'] }}">
            </div>
        </div>
    
        <div class="bg-gray-100 text-base p-4 rounded-lg shadow-lg h-full border border-black" style="background-color: #eeeee4; color: black;">
            <h3 class="text-lg font-semibold mb-3">Peak Hours of Vehicle Entries</h3>
            <canvas id="peakHoursChart" class="w-full h-48"></canvas>
            <div id="peakHoursData"
                data-labels="{{ peak_hours_data['labels']|join(', ') }}"
                data-data="{{ peak_hours_data['data'] }}">
            </div>
        </div>
    </div>

    <div class="bg-[#eeeee4] p-6 rounded-lg shadow-md mt-8">
        <h3 class="text-2xl font-semibold text-black mb-4">Personal Information</h3>
        <div class="flex items-center space-x-4">
            <img src="{{ user.profile_image or url_for('static', filename='images/users/profile.svg') }}" alt="Profile Image" class="w-[50px] h-[50px] rounded-full mr-4">
            <div>
                <p class="text-lg font-medium text-black">{{ user.firstname }} {{ user.lastname }}</p>
                <p class="text-base text-gray-700">Email: {{ user.email }}</p>
                <p class="text-base text-gray-700">Contact: {{ user.contactnumber }}</p>
                <p class="text-base text-gray-700">Employee Number: {{ user.emp_no }}</p>
                <p class="text-base text-gray-700">Registered Vehicles: {{ user.vehicle_count }}</p> 
            </div>
        </div>
    </div>
    
    
</div>

<script src="{{ url_for('static', filename='js/timeinout-comparison.js') }}"></script>
<script src="{{ url_for('static', filename='js/peakhours.js') }}"></script>
<script src="{{ url_for('static', filename='js/durationofstay.js') }}"></script>
<script src="{{ url_for('static', filename='js/mostactivedays.js') }}"></script>
{% endblock %}
