{% extends 'dashboard/user/layout.html' %}

{% block title %}Vehicle Dashboard{% endblock %}

{% block content %}

    <!-- Container to hold both sections -->

        <!-- Combined Sections -->
        <div class="flex flex-col items-center justify-center space-y-4">
            <!-- Left Section: Logo & Title -->
            <div class="flex flex-col items-center justify-center p-2 md:p-4">
                <!-- Logo -->
                <img src="/static/images/CELCOR.png" alt="CELCOR Logo" class="w-28 h-28 object-contain mx-auto mb-4 opacity-80"/>

                <!-- Title with custom shadow -->
                <h1 class="text-6xl md:text-6xl font-extrabold leading-tight mb-1 text-center" style="color: #dbdee4;text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);">
                    Vehicle Management System
                </h1>
                <p class="text-base md:text-lg soft-white text-center drop-shadow-md" style="color: #dbdee4;text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);">
                    Effortlessly manage and track all your vehicle data in one place with our intuitive platform.
                </p>
            </div>
            </div>
        </div>


{% endblock %}
