{% extends 'dashboard/user/layout.html' %}

{% block title %}Vehicles | TimeGuard{% endblock %}

{% block header_title %}Vehicles{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div class="w-full h-full p-6">
        <!-- Button to open modal -->
        <button id="openModalBtn" class="bg-green-500 text-black py-4 px-8 rounded border border-black hover:bg-green-700 mb-4" style="background-color: #eeeee4; font-size: 1.25rem;">
            <img src="{{ url_for('static', filename='images/icons/addvehicle.svg') }}" alt="Add" class="inline h-8 w-8 mr-2"> Register a Vehicle
        </button>
        
        <!-- Include the modal -->
        {% include 'dashboard/user/modals/addvehicle.html' %}
    
        <!-- Table Container -->
        <div class="bg-[#eeeee4] p-6 rounded-lg shadow-md w-full max-w-full mb-8 relative">
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-[#eeeee4]">
                    <tr>
                        <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Car Make</th>
                        <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Car Model</th>
                        <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">License Plate</th>
                        <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">RFID No.</th>
                        <th class="px-6 py-3 text-left text-lg font-medium text-black uppercase tracking-wider">Created At</th>
                    </tr>
                </thead>
                <tbody class="bg-[#eeeee4] divide-y divide-gray-300">
                    {% for vehicle in vehicles %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-black">{{ vehicle[0] }}</td> 
                            <td class="px-6 py-4 whitespace-nowrap text-lg font-medium text-black">{{ vehicle[1] }}</td>  
                            <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ vehicle[2] }}</td>  
                            <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ vehicle[4] }}</td>  
                            <td class="px-6 py-4 whitespace-nowrap text-lg text-black">{{ vehicle[3] }}</td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="flex justify-center mt-4">
                <nav class="relative z-0 inline-flex shadow-lg -space-x-px" aria-label="Pagination">
                    {% if page > 1 %}
                        <a href="{{ url_for('vehicles.vehicles', page=1) }}" class="relative inline-flex items-center px-4 py-3 border border-gray-400 text-base font-medium text-white bg-indigo-600 rounded-full hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition ease-in-out duration-300">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    {% endif %}
                    
                    {% set start_page = page - 2 %}
                    {% set end_page = page + 2 %}
                    
                    {% if start_page < 1 %}
                        {% set start_page = 1 %}
                    {% endif %}
                    
                    {% if end_page > total_pages %}
                        {% set end_page = total_pages %}
                    {% endif %}
                    
                    {% for p in range(start_page, end_page + 1) %}
                        <a href="{{ url_for('vehicles.vehicles', page=p) }}" class="relative inline-flex items-center px-4 py-3 border border-gray-400 text-base font-medium {{ 'bg-indigo-600' if p == page else 'bg-gray-300' }} rounded-full text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition ease-in-out duration-300">
                            {{ p }}
                        </a>
                    {% endfor %}
                    
                    {% if page < total_pages %}
                        <a href="{{ url_for('vehicles.vehicles', page=total_pages) }}" class="relative inline-flex items-center px-4 py-3 border border-gray-400 text-base font-medium text-white bg-indigo-600 rounded-full hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition ease-in-out duration-300">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    {% endif %}
                </nav>
            </div>

        </div>

    </div>
    
    <script>
        document.getElementById('openModalBtn').addEventListener('click', function() {
            const modal = document.getElementById('vehicleModal');
            modal.classList.remove('hidden');
            setTimeout(() => modal.classList.add('show'), 10);
        });

        document.getElementById('closeModalBtn').addEventListener('click', function() {
            const modal = document.getElementById('vehicleModal');
            modal.classList.remove('show');
            setTimeout(() => modal.classList.add('hidden'), 300); 
        });
    </script>
{% endblock %}
