.text-off-white {
    color: #dbdee4; /* Off white color */
}

.backdrop-blur {
    backdrop-filter: blur(8px); 
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
      
body {
    font-family: 'Roboto', sans-serif;
    background-size: cover;
    background-position: center;
}

.custom-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.soft-white {
    color: #dbdee4; 
}

.container {
    width: 100%;
    max-width: 400px;
    position: relative;
}

/* Button Styles */
.button-custom {
    background-color: #eeeee4;
    color: black;
    font-size: 1.25rem;
    padding: 0.5rem; /* Adjust padding for better spacing */
    width: 300px; /* Set a fixed width for uniformity */
    height: 60px;
    border: 1px solid black;
    border-radius: 0.375rem; /* Equivalent to rounded */
    transition: background-color 0.3s ease;
    display: flex; /* Ensure items are in a row */
    align-items: center; /* Center the items vertically */
    justify-content: center; /* Center the text and icon */
}

.button-custom img {
    height: 2rem; /* Adjust the icon size */
    width: 2rem; /* Keep icon size proportional */
    margin-right: 0.5rem; /* Space between icon and text */
}

.button-custom:hover {
    background-color: #60a5fa; /* Darker blue on hover */
}

