/* this is for my error html */
.scrollable-container {
    max-height: 400px; 
    overflow-y: auto;
}

.text-off-white {
    color: #dbdee4; /* Off white color */
}

.backdrop-blur {
    backdrop-filter: blur(8px); 
}

@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
      
body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/static/images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.custom-shadow {
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);
}

.soft-white {
    color: #dbdee4; 
}

.container {
    width: 100%;
    max-width: 400px;
    position: relative;
}

.btn {
    width: 100%;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn-user svg {
    stroke-dasharray: 600; /* Adjusted for the width and height of the "Login as User" button */
    stroke-dashoffset: 600; 
}

.btn-admin svg {
    stroke-dasharray: 660; /* Adjusted for the "Login as Admin" button */
    stroke-dashoffset: 660; 
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #91C9FF;
    transition: 1s ease-in-out;
}

.btn:hover {
    background: #4F95DA;
}

.btn:hover svg {
    stroke-dashoffset: 0;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}