<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/auth-login-register.css') }}" rel="stylesheet">
</head>
<body class="relative min-h-screen bg-cover bg-center" style="background-image: url('/static/images/bg.jpg');">

    <div class="absolute inset-0 bg-black opacity-65"></div>

    <div class="relative flex flex-col min-h-screen justify-center bg-opacity-30 backdrop-blur-md p-4">

        <!-- Registration Form Section -->
        <div class="w-full md:w-1/4 p-4 flex flex-col items-center bg-transparent rounded-lg mx-auto">
            <a href="{{ url_for('admin_login.admin_login') }}" class="absolute top-2 left-2 flex items-center justify-center w-6 h-6 rounded-full bg-transparent shadow-md hover:bg-gray-100 transition duration-300 ease-in-out">
                <svg class="w-4 h-4 text-blue-600 hover:text-blue-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l-7-7 7-7"></path>
                </svg>
            </a>

            <h2 class="text-2xl font-bold mb-4 text-off-white custom-shadow text-center">Admin Registration</h2>
            <form action="{{ url_for('admin_register.admin_register') }}" method="POST" class="w-full flex flex-col">
                {{ form.hidden_tag() }}

                {% if is_registered_as_admin %}
                    <div class="text-red-700 text-sm italic mt-2 text-center">{{ is_registered_as_admin }}</div>
                {% endif %}

                {% if is_registered_as_admin %}
                    <div class="text-red-700 text-sm italic mt-2 text-center">{{ is_registered_as_admin }}</div>
                {% endif %}

                <!-- Employee Number -->
                <div class="mb-4 w-full">
                    <label for="employeenumber" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Employee Number</label>
                    <input type="text" id="employeenumber" name="employeenumber" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" value="{{ form.employeenumber.data or '' }}" placeholder="Employee Number">
                    {% if form.employeenumber.errors %}
                        <p class="text-red-700 text-sm italic mt-1">{{ form.employeenumber.errors[0] }}</p>
                    {% endif %}
                    {% if duplicate_entry_error %}
                        <p class="text-red-700 text-sm italic mt-1">{{ duplicate_entry_error }}</p>
                    {% endif %}
                </div>

                <!-- Name Fields -->
                <div class="mb-4 w-full flex space-x-4">
                    <div class="w-1/2">
                        <label for="firstname" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">First Name</label>
                        <input type="text" id="firstname" name="firstname" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" value="{{ form.firstname.data or '' }}" placeholder="First Name">
                        {% if form.firstname.errors %}
                            <p class="text-red-700 text-sm italic mt-1">{{ form.firstname.errors[0] }}</p>
                        {% endif %}
                    </div>

                    <div class="w-1/2">
                        <label for="lastname" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Last Name</label>
                        <input type="text" id="lastname" name="lastname" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" value="{{ form.lastname.data or '' }}" placeholder="Last Name">
                        {% if form.lastname.errors %}
                            <p class="text-red-700 text-sm italic mt-1">{{ form.lastname.errors[0] }}</p>
                        {% endif %}
                    </div>
                </div>


                <!-- Email Address -->
                <div class="mb-4 w-full">
                    <label for="email" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Email Address</label>
                    <input type="email" id="email" name="email" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" value="{{ form.email.data or '' }}" placeholder="Email">
                    {% if form.email.errors %}
                        <p class="text-red-700 text-sm italic mt-1">{{ form.email.errors[0] }}</p>
                    {% endif %}
                </div>

                <!-- Contact Number -->
                <div class="mb-4 w-full">
                    <label for="contactnumber" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Contact Number</label>
                    <input type="text" id="contactnumber" name="contactnumber" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" value="{{ form.contactnumber.data or '' }}" placeholder="Contact Number">
                    {% if form.contactnumber.errors %}
                        <p class="text-red-700 text-sm italic mt-1">{{ form.contactnumber.errors[0] }}</p>
                    {% endif %}
                </div>

                <!-- Password Fields -->
                <div class="mb-4 w-full flex space-x-4">
                    <div class="w-1/2">
                        <label for="password" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Password</label>
                        <input type="password" id="password" name="password" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" placeholder="Password">
                        {% if form.password.errors %}
                            <p class="text-red-700 text-sm italic mt-1">{{ form.password.errors[0] }}</p>
                        {% endif %}
                    </div>
                
                    <div class="w-1/2">
                        <label for="password_confirmation" class="block text-left text-off-white custom-shadow text-base font-semibold mb-1">Confirm Password</label>
                        <input type="password" id="password_confirmation" name="password_confirmation" class="shadow-sm appearance-none border border-gray-400 rounded-lg w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:ring-1 focus:ring-blue-600" placeholder="Confirm Password">
                    </div>
                </div>
                
                <div class="mb-4 w-full flex items-center">
                    <input type="checkbox" id="togglePasswordCheckbox" class="mr-2" onchange="togglePasswordVisibility()">
                    <label for="togglePasswordCheckbox" class="text-off-white custom-shadow text-sm">Show Password</label>
                </div>

                {% if recaptcha_error %}
                    <p class="text-red-700 text-sm italic mt-2 text-center">{{ recaptcha_error }}</p>
                {% endif %}
                <div class="g-recaptcha" data-sitekey="6LcxWkIqAAAAAEycwl1Z3tWFBg3BeIFe4pQxhpoY"></div>

                <button type="submit" class="btn btn-admin font-semibold rounded-lg py-2 mt-6">
                    <svg width="510px" height="60px" viewBox="0 0 300 100"></svg>
                    <span>Register</span>
                </button>

                <div class="text-center mt-4">
                    <p class="mt-2 text-base text-off-white custom-shadow">Already have an account? <a href="{{ url_for('admin_login.admin_login') }}" class="text-blue-600 hover:text-blue-800">Login here</a></p>
                </div>
            </form>
        </div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var password = document.getElementById('password');
            var passwordConfirmation = document.getElementById('password_confirmation');
            if (password.type === 'password') {
                password.type = 'text';
                passwordConfirmation.type = 'text';
            } else {
                password.type = 'password';
                passwordConfirmation.type = 'password';
            }
        }
    </script>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</body>
</html>
