<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeGuard</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/auth-login-register.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fonts.css') }}" rel="stylesheet">
    <style>
        body {
            background-color: #eeeee4;
            color: black;
        }
    </style>
</head>
<body class="relative min-h-screen">

    <!-- Container to hold both sections -->
    <div class="flex flex-col min-h-screen justify-center items-center p-4">

        <div id="flashMessages" class="fixed top-0 left-1/2 transform -translate-x-1/2 m-4 z-50 opacity-100 transition-opacity duration-300">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="space-y-4">
                        {% for category, message in messages %}
                            <div class="p-3 mb-4 rounded 
                                {% if category == 'danger' %}
                                    bg-red-500 bg-opacity-40 text-white
                                {% elif category == 'success' %}
                                    bg-green-500 bg-opacity-40 text-white
                                {% elif category == 'info' %}
                                    bg-blue-500 bg-opacity-40 text-white
                                {% else %}
                                    bg-gray-500 bg-opacity-40 text-white
                                {% endif %}
                                {{ 'hidden' if not messages else 'block' }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>

        <!-- Combined Sections -->
        <div class="flex flex-col items-center justify-center space-y-4">

            <!-- Left Section: Logo & Title -->
            <div class="flex flex-col items-center justify-center p-2 md:p-4">
                <!-- Logo -->
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="mb-4 h-16 md:h-24">

                <!-- Title with custom shadow -->
                <h1 class="text-6xl md:text-6xl font-extrabold leading-tight mb-1 text-center">
                    TimeGuard
                </h1>
                <p class="text-base md:text-lg text-center">
                    A Web-Based RFID Integrated Time Tracking System.
                </p>
                <p class="text-base md:text-lg text-center">
                    Effortlessly manage and track your vehicle data and time logs in one place with our platform.
                </p>

                
            </div>

            <!-- Right Section: Buttons & Call to Action -->
            <div class="flex flex-col justify-center items-center p-2 md:p-4">
                <p class="text-lg md:text-xl text-center mb-2 font-semibold">
                    Choose your login option below:
                </p>

            <!-- Button for User Login -->
            <div class="container mt-4">
                <div class="center">
                    <form action="{{ url_for('user_login.user_login') }}" method="GET">
                        <button id="userLoginBtn" class="button-custom" type="submit">
                            <img src="{{ url_for('static', filename='images/icons/user-icon.svg') }}" alt="User Icon"> User
                        </button>
                    </form>
                </div>
            </div>

            <!-- Button for Admin Login -->
            <div class="container mt-4">
                <div class="center">
                    <form action="{{ url_for('admin_login.admin_login') }}" method="GET">
                        <button id="adminLoginBtn" class="button-custom" type="submit">
                            <img src="{{ url_for('static', filename='images/icons/user-icon.svg') }}" alt="Admin Icon"> Admin
                        </button>
                    </form>
                </div>
            </div>


            </div>
        </div>
    </div>

</body>
</html>
