<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Management System</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>
<body class="relative min-h-screen text-gray-900">

    <!-- Subtle overlay for enhanced visibility -->
    <div class="absolute inset-0 bg-black opacity-65"></div>

    <!-- Container to hold both sections -->
    <div class="flex flex-col min-h-screen justify-center items-center bg-opacity-30 backdrop-blur-md p-4">

        <!-- Combined Sections -->
        <div class="flex flex-col items-center justify-center space-y-4">

            <!-- Left Section: Logo & Title -->
            <div class="flex flex-col items-center justify-center p-2 md:p-4">
                <!-- Logo -->
                <img src="/static/images/CELCOR.png" alt="CELCOR Logo" class="w-28 h-28 object-contain mx-auto mb-4 opacity-80 backdrop-blur-md"/>

                <!-- Title with custom shadow -->
                <h1 class="text-6xl md:text-6xl font-extrabold custom-shadow leading-tight mb-1 text-center soft-white">
                    Vehicle Management System
                </h1>
                <p class="text-base md:text-lg soft-white text-center drop-shadow-md">
                    Effortlessly manage and track all your vehicle data in one place with our intuitive platform.
                </p>
            </div>

            <!-- Right Section: Buttons & Call to Action -->
            <div class="flex flex-col justify-center items-center p-2 md:p-4">
                <p class="text-lg md:text-xl soft-white text-center mb-2 font-semibold drop-shadow-lg">
                    Choose your login option below:
                </p>

                <!-- Button for User Login -->
                <div class="container mt-4">
                    <div class="center">
                        <a href="{{ url_for('user_login.user_login') }}" class="btn btn-admin">
                            <svg width="300px" height="100px" viewBox="0 0 300 100">
                            </svg>                            
                            <span>Login as User</span>
                        </a>
                    </div>
                </div>

                <!-- Button for Admin Login -->
                <div class="container mt-4">
                    <div class="center">
                        <a href="{{ url_for('admin_login.admin_login') }}" class="btn btn-admin">
                            <svg width="300px" height="100px" viewBox="0 0 300 100">
                            </svg>                            
                            <span>Login as Admin</span>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>

</body>
</html>
