<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-200">
    <div class="bg-white shadow-lg rounded-lg p-8 m-4 max-w-md mx-auto backdrop-blur-md bg-opacity-90">
        <main class="text-center">
            <div class="space-y-4">
                <img src="{{ url_for('static', filename='images/CELCOR.png') }}" alt="logo" width="200" class="mx-auto mb-4"/>
                <h1 class="text-2xl font-semibold mb-6">Vehicle Management System</h1>
                <div class="space-y-4">
                    <a href="{{ url_for('user_login.user_login') }}" class="bg-indigo-600 text-white py-3 px-8 rounded-full shadow-md hover:bg-indigo-500">Login as User</a>
                    <a href="{{ url_for('admin_login.admin_login') }}" class="bg-teal-600 text-white py-3 px-8 rounded-full shadow-md hover:bg-teal-500">Login as Admin</a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
